<div class="headerContainer">
        <div class="logoPart">
                <h2>MyTheme</h2>
        </div>
        <div class="subContainer">

                <ul>
                        <li><a routerLink="/mythemes/themeHome" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/mythemes/colorPicker" routerLinkActive="active">Chat With Us</a></li>
                        <li><a routerLink="/login" (click)="logOut()" routerLinkActive="active">LogOut</a></li>

                </ul>


                <div class="switchPart">
                        <p [ngClass]="lightAndDarkThemeStatus==false  ? 'setColorWhite' : 'setColorBlack' ">Light</p>
                        <div class="switchContainer">
                                <app-input-switch [fetchStatus]="lightAndDarkThemeStatus" (changeMyTheme)="changeDarkOrLightTheme($event)"></app-input-switch>
                        </div>
                        <p [ngClass]="lightAndDarkThemeStatus ? 'setColorWhite' : 'setColorBlack' ">Dark</p>


                </div>
                <div class="themeChangeButton">

                        <img [src]="images.colorPicker" alt="NoImage" (click)="buttonClicked()">
                </div>



        </div>

</div>

<div class="themeChangeDialog">
        <p-dialog header="Create Theme" [(visible)]="visible" [style]="{width: '30vw'}" [modal]="true"
                [draggable]="false" [resizable]="false">
                <div class="dialogbodyPart">
                        <p>Text and Hexa accepted</p>
                        <div class="primaryTheme">
                                <div class="themeInput">
                                        <app-inputtag [type]="'text'" [label]="'Primary Color'"
                                                [idInfo]="'float-input9'" [formGroupInfo]="myNewTheme"
                                                [formControlNameInfo]="'primaryColor'"
                                                (valueChangeStatus)="applyingColorsToInput1($event,'primaryColor11','primaryColor')"></app-inputtag>
                                </div>
                                <div class="themeInput2">
                                        <app-inputtag [type]="'color'" [idInfo]="'float-input6'"
                                                [formGroupInfo]="colorPickerTheme1"
                                                [formControlNameInfo]="'primaryColor11'"
                                                (valueChangeStatus)="applyingColorsToInput1($event,'primaryColor11','primaryColor')"></app-inputtag>

                                </div>

                        </div>
                        <div class="secondaryTheme">
                                <div class="themeInputSecondary">
                                        <app-inputtag [type]="'text'" [label]="'Secondary Color'"
                                                [idInfo]="'float-input10'" [formGroupInfo]="myNewTheme"
                                                [formControlNameInfo]="'secondaryColor'"
                                                (valueChangeStatus)="applyingColorsToInput1($event,'secondaryColor11','secondaryColor')"></app-inputtag>

                                </div>
                                <div class="themeInput2">
                                        <app-inputtag [type]="'color'" [idInfo]="'float-input7'"
                                                [formGroupInfo]="colorPickerTheme1"
                                                [formControlNameInfo]="'secondaryColor11'"
                                                (valueChangeStatus)="applyingColorsToInput1($event,'secondaryColor11','secondaryColor')"></app-inputtag>

                                </div>
                        </div>
                        <div class="checkBoxContainer">
                                <app-checkboxtype [formGroup]="makeDefaultThemeStatusForm1"
                                        [checkBoxFormControlerName]="'makeDefaultThemeStatus'" [labelForCheckBox]="'Make It Default Theme'"
                                        [idForCheckBox]="'defaultCheck'"></app-checkboxtype>
                        </div>



                        <div class="createThemeButton">
                                <app-buttontag [classInfo]="'p-button-raised'" [label]="' Create '"
                                        [buttonType]="'submit'"
                                        [disabledInfo]="!validateColorStatus && myNewTheme.invalid "
                                        (buttonStatus)="newThemeInDashboard(myNewTheme.value)"></app-buttontag>
                        </div>
                </div>

                <div class="separationLine">
                        <table>
                                <tr>
                                        <td style="width:46%">
                                                <hr />
                                        </td>
                                        <td class="horizontaillineAndOrText">or</td>
                                        <td style="width:47%">
                                                <hr />
                                        </td>
                                </tr>
                        </table>
                </div>
                <div class="defaultThemeTitle">
                        <p>Chosse Your Themes</p>
                </div>
                <div class="defaultThemeings">

                        <div class="subTheme" *ngFor="let theme of defaulthemesList.reverse() let i = index">
                                <div id="theme1" (click)="changeDefaultThemes(theme)"
                                        [ngClass]="theme.active ? 'addborderPadding':'' ">
                                        <div class="upperColorPart1" [style.background]="theme.prime">
                                        </div>
                                        <div class="lowerColorPart1" [style.background]="theme.secondary">
                                        </div>
                                </div>
                              
                        </div>



                </div>

        </p-dialog>
</div>