<div class="mainContainer">


    <div class="chatContainer">

        <div class="chatHeader">
            <img src="{{company.companyLogo}}" alt="">
            <div class="mediaIconsContainer">
                <i class="bi bi-camera"></i>
                <i class="bi bi-search"></i>
                <i class="bi bi-three-dots-vertical"></i>

            </div>
        </div>
        <div class="chatBodyPart">
            <div *ngFor="let data of messageArray">
                <div class="messageSent" *ngIf="data.user === loggedInUser">
                     <p>{{data.user}} : {{data.message}}</p>
                </div>
                <div class="messageRecieved"  *ngIf="data.user !== loggedInUser">
                             <p>{{data.user}} : {{data.message}}</p>

                </div>
            </div>
            

        </div>
        <div class="chatFooter">
            <div class="chatMessagePart">
                <div class="submessageContainer">
                    <app-inputtag [type]="'text'" [placeholderText]="'Message'" [formGroupInfo]="messageForm"
                        [formControlNameInfo]="'messageText'" [iconInfo]="'bi bi-emoji-smile'"
                        [iconPosition]="'p-input-icon-left'" (valueChangeStatus)="messageTyping($event)"></app-inputtag>
                </div>
                <div class="mediaUploadContainer">
                                <i class="pi pi-link"></i>
                            </div>

            </div>
            <div class="sendMessageContainer">
                <i *ngIf="messageForm.get('messageText')?.value === null" class="bi bi-mic"></i>
                <i *ngIf="messageForm.get('messageText')?.value !== null" class="bi bi-send"  (click)="sendMessage(messageForm.value)"></i>
            </div>
           
        </div>

    </div>

</div>