<div class="mainContainer">

    <div class="subContainer">
        <div class="card">


            <h2>Welcome to Theme Application</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id tempore fuga quos similique. Unde
                perspiciatis quidem sunt! Quibusdam minus unde non quod aspernatur qui inventore fugiat quos adipisci?
                Ab quis ex quo totam reprehenderit odio, voluptas vitae dolore labore illum saepe. Odit et adipisci,
                laboriosam tempore temporibus maxime perferendis consectetur, sequi numquam odio iusto aperiam, eos
                natus molestias corrupti magni! Accusantium repellat, labore excepturi autem eius quia dignissimos a at
                aut qui? Voluptas quibusdam illo ad nihil pariatur fuga. Consectetur dolore nisi modi? Facilis labore
                quas ex nostrum sit repellendus quod non porro voluptas, voluptates molestias ipsam et maxime assumenda.
                Delectus recusandae mollitia quidem provident itaque assumenda illo nam reprehenderit ullam voluptas
                quas repellendus consequuntur veniam, accusantium dolorum. Architecto sint animi non maxime ratione
                nesciunt magnam aspernatur mollitia possimus a, explicabo aperiam inventore dignissimos nulla
                consequuntur amet exercitationem omnis dolore? Autem voluptatibus modi accusantium aut commodi qui quam
                perspiciatis accusamus!</p>
        </div>
    </div>

</div>