@import '../../../global.scss';

.homeMainContainer {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profileContainer {

    width: 20rem;
    height: calc(100% - 2rem);
    border-radius: 1rem;
    margin: 0px 1rem;
    box-shadow: 0px 0px 7px $primary;


}

.searchContainer {

    width: 15rem;
    height: calc(100% - 2rem);
    border-radius: 1rem;
    margin: 0px 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;


}

.postContainer {
    width: 35rem;
    height: calc(100% - 2rem);
    box-shadow: 0px 0px 7px $primary;
    border-radius: 1rem;
    margin: 0px 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
}
.postContainer .postHeaderContainer,.postFooterContainer{
    width: 100%;
    height: 1rem;
    
}

 .cardsContainer{

    width: 31rem;
    height:550px;
     overflow-y: scroll;
     scroll-behavior: smooth;
    


}

.cardsContainer::-webkit-scrollbar {
  display: none;
}


.subContainer {
    width: 100%;
    height: 12rem;
    position: relative;
}

.bannerContainer {
    width: 100%;
    height: 5rem;
    position: relative;
}


.bannerContainer img {
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/Images/banner.png');
    background-repeat: no-repeat;
    background-size: 238px 82px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

}

.profilePic {
    width: 8rem;
    height: 8rem;
    border: 4px solid $headerFontColor;
    border-radius: 50%;
    position: relative;
    top: -3.5rem;
}


.profilePic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;


}

.userName {
    width: 100%;
    height: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.userName h2 {
    font-family: $fontFamily;
    font-weight: 500;
    color: $primary;
    font-size: 1.5rem;
    font-style: bold;
}

.bioInfo {
    width: 100%;
    height: calc(100% - 15rem);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-direction: column;

}

.bioSubContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 1rem;

}

.bioSubContainer1 {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 40px;
    padding-right: 20px;
    margin-bottom: 1.5rem;

}

.bioSubContainer i,
.bioSubContainer1 i {
    font-size: 1.2rem;
    color: $fontColor;
}

.bioSubContainer h3,
.bioSubContainer1 p {
    font-family: $fontFamily;
    font-weight: 500;
    color: $fontColor;
    font-size: 1rem;
    word-break: break-all;

}


.subSearchContainer {
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 7px $primary;


}



.newsContainer {
    width: 100%;
    height: 15rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 7px $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    flex-direction: column;

}



.companyLogo {
    width: 90%;
    height: 3.5rem;
}

.companyLogo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.postNews {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.postNews img {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    border: 4px solid $headerFontColor;
    object-fit: contain;
}

.postNews a {
    text-decoration: none;
    background-color: $primary;
    padding: 0.5rem 2.3rem;
    border-radius: 2rem;
    color: $headerFontColor;
    font-family: $fontFamily;
    font-size: 1rem;
    cursor: pointer;
}

.newsIcons {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}

.newsIcons i {
    font-size: 1.3rem;
    color: $fontColor;
    cursor: pointer;
}

.myCard {
    margin-bottom: 0.5rem;
   
}



.myCard {
    .cardHeader {
        width: 96%;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1rem;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
    

}
.cardSubHeader{
        
         width: 30rem;
        height: 5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
           
}

.postProfilePic {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.postProfilePic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;

}

.postBioInfo {
    padding: 1rem 0 1rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.postBioInfo p {
    font-family: $fontFamily;
    font-weight: 500;
    color: $fontColor;
    font-size: 1rem;
    font-style: bold;
}

.postBioInfo p:nth-child(2) {
    color: $fontColor;
    opacity: 0.5;
}

.postBodyPart {
    width: 100%;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;


}

.postDescription {

    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.postBodyPart .postDescription p {
    font-family: $fontFamily;
    font-weight: 500;
    color: $fontColor;
    font-size: 0.9rem;

}

.postBodyPartImage {
    width: 100%;
    height: 15rem;
    padding: 1rem;
}

.postBodyPartImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1%;
}

.cardFooter {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;

}

.eventDiv {
    width: fit-content;
    height: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}



.eventDiv i {
    font-size: 1.5rem;
    font-family: $fontFamily;
    font-weight: 500;
    color: $fontColor;
    cursor: pointer;
}



.eventDiv p {
    font-family: $fontFamily;
    font-weight: 500;
    color: $fontColor;
    font-size: 1rem;
}






::ng-deep {
    .subSearchContainer {

        .p-input-icon-left>.p-icon-wrapper.p-icon,
        .p-input-icon-left>i:first-of-type {
            left: 1rem;
            color:$fontColor;
            font-size: 1.2rem;
        }

        .p-input-icon-left>.p-inputtext {
            padding-left: 3.5rem;
        }

        .p-inputtext{
            margin: 0;
            border-radius: 1rem;
        }

        .p-inputtext {
            font-family: $fontFamily;
            font-size: 1rem;
            color: $fontColor;
            background: $secondary 0.5;
            padding: 0.75rem 0.75rem;
            border: none;
            transition: none;
        }

        .p-inputtext:enabled:hover {
            border-color: none;
        }

        .p-inputtext:enabled:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: none;
            border-color: none;
        }
    }

    .myCard {
        .p-card .p-card-content {
            padding: 0;
        }

        .p-card {

            background: none;
            border: 3px solid $primary;
            // box-shadow: 0px 0px 7px $primary;
        }

        .p-card .p-card-footer {
            padding: 1rem ;
        }

        .p-card .p-card-body {
            padding: 0px;
        }

    }

    .postBodyPart .postDescription p{
        padding-left: 1.25rem;
    }





}